span style=("color: #2b2b2b; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 30px; white-space: pre-line; word-break: break-all")
  | Task-##{@task.id} was deleted.

= render partial: "task_form", user: @user, task: @task